.search-results-container {
  padding: 20px 10px;
  height: 280px;
  overflow-y: auto;
  scrollbar-width: none;
  color: var(--font-color);
}

.search-result-item {
  display: flex;
  padding: 5px 5px;
  align-items: center;
}
.search-result-item hr {
  border: 1px solid black;
}
.search-result-image {
  height: 50px;
  width: 50px;
}

.search-result-title {
  display: block;
  padding: 0 10px;
  line-height: 10px;
  /* margin-top: 5px; */
}
.search-result-title p {
  font-size: 12px;
  font-weight: 350;
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
}
/* @media only screen and (min-width: 576px) {
@media only screen and (min-width: 768px) and (max-width: 1024px) {
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
* @media only screen and (min-width: 1024px) and (max-width: 1440px) {  */
