.cart-main-container {
  position: fixed;
  background-color: #b6b9c0;
  height: 600px;
  width: 700px;
  border-radius: 10px;
  padding: 10px;
  color: var(--bg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: grab;
  user-select: none;
}

.cart-main-container:active {
  cursor: grabbing;
}

.cart-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 10px;
}

.cart-items-title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.cart-close {
  font-size: 30px;
  color: #000;
  cursor: pointer;
}

.cart-close:hover {
  color: rgb(220, 78, 78);
}

.cart-line {
  width: 98%;
  margin: 10px auto;
  border: 1px solid #000;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}

.cart-content > * {
  flex: 1;
}

.cart-container {
  border: none;
  border-radius: 8px;
  background: none;
  padding: 10px;
  overflow-y: auto;
}

.cart-pay-value {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 10px;
}

.cart-items-receipt {
  margin-left: auto;
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .cart-main-container {
    width: 100%;
    height: 100%;
    top: 50% !important;
    left: 50% !important;
    border-radius: 0px;
    transform: translate(-50%, -50%) !important;
    cursor: default !important;
    user-select: none !important;
  }

  .cart-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .cart-items-title {
    font-size: 28px;
  }

  .cart-content {
    flex-direction: column;
    gap: 0;
  }

  .cart-line {
    width: 98%;
    margin: 2px auto;
    border: 1px solid #000;
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 1024px) {}
 @media only screen and (min-width: 1024px) and (max-width: 1440px) { */
