.add-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  padding-left: 10px;
}

.add-cart-button {
  height: 25px;
  width: auto;
  justify-content: center;
  cursor: pointer;
}

.add-wish-button {
  border: none;
  background: none;
  color: var(--font-color);
  font-size: 25px;
}
