.terms-container {
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.terms-container-label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(61, 102, 135);
}

.terms-container-label:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .terms-container {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .terms-container {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
}
